In [1]:
import pandas as pd
import GlobalParameters
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.stop_words import ENGLISH_STOP_WORDS
from nltk.corpus import stopwords
nltkStopWords = set(stopwords.words('english'))

In [2]:
ENGLISH_STOP_WORDS

frozenset({'a',
           'about',
           'above',
           'across',
           'after',
           'afterwards',
           'again',
           'against',
           'all',
           'almost',
           'alone',
           'along',
           'already',
           'also',
           'although',
           'always',
           'am',
           'among',
           'amongst',
           'amoungst',
           'amount',
           'an',
           'and',
           'another',
           'any',
           'anyhow',
           'anyone',
           'anything',
           'anyway',
           'anywhere',
           'are',
           'around',
           'as',
           'at',
           'back',
           'be',
           'became',
           'because',
           'become',
           'becomes',
           'becoming',
           'been',
           'before',
           'beforehand',
           'behind',
           'being',
           'below',
           'beside',
           'besides',
           'between',
           'beyond',
           'bill',
           'both',
           'bottom',
           'but',
           'by',
           'call',
           'can',
           'cannot',
           'cant',
           'co',
           'con',
           'could',
           'couldnt',
           'cry',
           'de',
           'describe',
           'detail',
           'do',
           'done',
           'down',
           'due',
           'during',
           'each',
           'eg',
           'eight',
           'either',
           'eleven',
           'else',
           'elsewhere',
           'empty',
           'enough',
           'etc',
           'even',
           'ever',
           'every',
           'everyone',
           'everything',
           'everywhere',
           'except',
           'few',
           'fifteen',
           'fifty',
           'fill',
           'find',
           'fire',
           'first',
           'five',
           'for',
           'former',
           'formerly',
           'forty',
           'found',
           'four',
           'from',
           'front',
           'full',
           'further',
           'get',
           'give',
           'go',
           'had',
           'has',
           'hasnt',
           'have',
           'he',
           'hence',
           'her',
           'here',
           'hereafter',
           'hereby',
           'herein',
           'hereupon',
           'hers',
           'herself',
           'him',
           'himself',
           'his',
           'how',
           'however',
           'hundred',
           'i',
           'ie',
           'if',
           'in',
           'inc',
           'indeed',
           'interest',
           'into',
           'is',
           'it',
           'its',
           'itself',
           'keep',
           'last',
           'latter',
           'latterly',
           'least',
           'less',
           'ltd',
           'made',
           'many',
           'may',
           'me',
           'meanwhile',
           'might',
           'mill',
           'mine',
           'more',
           'moreover',
           'most',
           'mostly',
           'move',
           'much',
           'must',
           'my',
           'myself',
           'name',
           'namely',
           'neither',
           'never',
           'nevertheless',
           'next',
           'nine',
           'no',
           'nobody',
           'none',
           'noone',
           'nor',
           'not',
           'nothing',
           'now',
           'nowhere',
           'of',
           'off',
           'often',
           'on',
           'once',
           'one',
           'only',
           'onto',
           'or',
           'other',
           'others',
           'otherwise',
           'our',
           'ours',
           'ourselves',
           'out',
           'over',
           'own',
           'part',
           'per',
           'perhaps',
           'please',
           'put',
           'rather',
           're',
           'same',
           'see',
           'seem',
           'seemed',
           'seeming',
           'seems',
           'serious',
           'several',
           'she',
           'should',
           'show',
           'side',
           'since',
           'sincere',
           'six',
           'sixty',
           'so',
           'some',
           'somehow',
           'someone',
           'something',
           'sometime',
           'sometimes',
           'somewhere',
           'still',
           'such',
           'system',
           'take',
           'ten',
           'than',
           'that',
           'the',
           'their',
           'them',
           'themselves',
           'then',
           'thence',
           'there',
           'thereafter',
           'thereby',
           'therefore',
           'therein',
           'thereupon',
           'these',
           'they',
           'thick',
           'thin',
           'third',
           'this',
           'those',
           'though',
           'three',
           'through',
           'throughout',
           'thru',
           'thus',
           'to',
           'together',
           'too',
           'top',
           'toward',
           'towards',
           'twelve',
           'twenty',
           'two',
           'un',
           'under',
           'until',
           'up',
           'upon',
           'us',
           'very',
           'via',
           'was',
           'we',
           'well',
           'were',
           'what',
           'whatever',
           'when',
           'whence',
           'whenever',
           'where',
           'whereafter',
           'whereas',
           'whereby',
           'wherein',
           'whereupon',
           'wherever',
           'whether',
           'which',
           'while',
           'whither',
           'who',
           'whoever',
           'whole',
           'whom',
           'whose',
           'why',
           'will',
           'with',
           'within',
           'without',
           'would',
           'yet',
           'you',
           'your',
           'yours',
           'yourself',
           'yourselves'})

In [4]:
for word in ENGLISH_STOP_WORDS:
    if word not in nltkStopWords:
        print(word)

cannot
across
inc
found
less
upon
within
fire
afterwards
bottom
whether
fill
several
serious
besides
hasnt
hereby
everywhere
would
take
although
many
behind
put
ten
former
meanwhile
whenever
whereafter
back
mine
nevertheless
go
cry
alone
thin
five
empty
elsewhere
sixty
two
detail
therein
become
never
onto
must
neither
amongst
either
eight
everyone
becoming
without
anywhere
amount
namely
hence
therefore
however
sometime
almost
much
noone
toward
might
whatever
seem
nothing
done
seems
often
thereafter
perhaps
hereafter
made
since
among
became
full
anyway
via
amoungst
others
three
top
beyond
beforehand
nobody
side
seeming
somehow
mostly
name
formerly
otherwise
whereas
every
latter
moreover
together
front
last
sincere
along
except
show
de
seemed
could
fifteen
whose
thus
please
thru
around
enough
thence
hereupon
six
hundred
nine
call
even
may
give
ie
interest
us
wherever
whoever
describe
wherein
someone
else
everything
find
cant
first
anyone
thereupon
though
eleven
well
etc
one
mill
rather
beside
per
latterly
herein
whereby
thereby
anything
couldnt
indeed
forty
throughout
whence
towards
yet
none
still
whole
un
whither
nowhere
third
thick
co
ever
next
already
four
least
somewhere
anyhow
also
ltd
eg
con
twelve
whereupon
fifty
another
always
sometimes
part
bill
system
due
move
something
see
get
twenty
becomes
keep

In [5]:
len(ENGLISH_STOP_WORDS)

318

In [6]:
len(nltkStopWords)

179

In [7]:
for word in nltkStopWords:
    if word not in ENGLISH_STOP_WORDS:
        print(word)

should've
needn't
s
o
shouldn
isn
m
aren't
doing
needn
y
mightn't
didn't
hasn
wasn't
weren
wouldn
she's
mustn
shan't
d
ma
hasn't
that'll
aren
you'll
shan
t
mightn
ve
weren't
hadn't
it's
couldn
having
theirs
won
don
couldn't
just
you'd
ll
haven
isn't
you're
doesn't
wouldn't
did
hadn
doesn
didn
ain
mustn't
shouldn't
don't
won't
haven't
you've
wasn
does

In [3]:
#vars=GlobalParameters.GlobalVariables()
print(vars.train.shape)
print(vars.test.shape)
vars.test.head()

(404287, 6)
(2345796, 3)

,test_id,question1,question2
0,0,How does the Surface Pro himself 4 compare wit...,Why did Microsoft choose core m3 and not core ...
1,1,Should I have a hair transplant at age 24? How...,How much cost does hair transplant require?
2,2,What but is the best way to send money from Ch...,What you send money to China?
3,3,Which food not emulsifiers?,What foods fibre?
4,4,"How ""aberystwyth"" start reading?",How their can I start reading?

In [3]:
from deep_learning_models.word_and_character_vectors import get_char,get_glove,PAD_ID,UNK_ID
from deep_learning_models.sentence_operations import sentence_to_word_ids,pad_words,convert_ids_to_word_vectors
emb_matrix_word, word2id, id2word=get_glove('C:\\Users\\tihor\\Documents\\ml_data_files')

Loading vectors from file: C:\Users\tihor\Documents\ml_data_files\glove_small.txt

100%|████████████████████████████████████████████████████████████████████████████| 5000/5000 [00:00<00:00, 9526.87it/s]

In [9]:
data_subset=vars.train[0:100].copy()
data_subset['q1_ids_padded']=data_subset['question1'].apply(lambda x:pad_words(sentence_to_word_ids(x,word2id)[1],237))
data_subset['q2_ids_padded']=data_subset['question2'].apply(lambda x:pad_words(sentence_to_word_ids(x,word2id)[1],237))
data_subset['q1_glove']=data_subset['q1_ids_padded'].apply(lambda x:convert_ids_to_word_vectors(x,emb_matrix_word))
data_subset['q2_glove']=data_subset['q2_ids_padded'].apply(lambda x:convert_ids_to_word_vectors(x,emb_matrix_word))
data_subset.head()

,id,qid1,qid2,question1,question2,is_duplicate,q1_split_words,q2_split_words,q1_ids_padded,q2_ids_padded,q1_glove,q2_glove
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0,"[What, is, the, step, by, step, guide, to, inv...","[What, is, the, step, by, step, guide, to, inv...","[1, 11, 3, 916, 25, 916, 724, 6, 4774, 9, 500,...","[1, 11, 3, 916, 25, 916, 724, 6, 4774, 9, 500,...","[[-0.7783306234148628, -0.37085301094094447, -...","[[-0.7783306234148628, -0.37085301094094447, -..."
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0,"[What, is, the, story, of, Kohinoor, (Koh-i-No...","[What, would, happen, if, the, Indian, governm...","[1, 11, 3, 387, 7, 1, 1, 1, 0, 0, 0, 0, 0, 0, ...","[1, 77, 1310, 51, 3, 1, 403, 1, 3, 1, 1, 2169,...","[[-0.7783306234148628, -0.37085301094094447, -...","[[-0.7783306234148628, -0.37085301094094447, -..."
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0,"[How, can, I, increase, the, speed, of, my, in...","[How, can, Internet, speed, be, increased, by,...","[1, 45, 1, 1014, 3, 966, 7, 44, 354, 1404, 177...","[1, 45, 1, 966, 29, 1729, 25, 1, 156, 1, 0, 0,...","[[-0.7783306234148628, -0.37085301094094447, -...","[[-0.7783306234148628, -0.37085301094094447, -..."
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0,"[Why, am, I, mentally, very, lonely?, How, can...","[Find, the, remainder, when, [math]23^{24}[/ma...","[1, 89, 1, 1, 114, 1, 1, 45, 1, 4025, 1, 0, 0,...","[1, 3, 1, 68, 1, 11, 1, 25, 1, 0, 0, 0, 0, 0, ...","[[-0.7783306234148628, -0.37085301094094447, -...","[[-0.7783306234148628, -0.37085301094094447, -..."
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0,"[Which, one, dissolve, in, water, quikly, suga...","[Which, fish, would, survive, in, salt, water?]","[1, 52, 1, 9, 287, 1, 1, 1, 1, 5, 2876, 3411, ...","[1, 1333, 77, 4598, 9, 2236, 1, 0, 0, 0, 0, 0,...","[[-0.7783306234148628, -0.37085301094094447, -...","[[-0.7783306234148628, -0.37085301094094447, -..."

In [21]:
import numpy as np
zz=data_subset['q1_glove'].tolist()
aa=np.array(zz)
aa.shape

(100, 237, 300)

In [19]:
vars.train['word_match']=vars.train.apply(lambda row:word_match_score(row['question1'],row['question2'],stops),axis=1)
vars.train['']
vars.train.head()

,id,qid1,qid2,question1,question2,is_duplicate,word_match
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0,0.727273
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0,0.333333
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0,0.363636
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0,0.000000
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0,0.000000

In [15]:
def word_match_score(sentence1,sentence2,stopwords):
    sentence1Words={}
    sentence2Words={}
    for word in sentence1.lower().split():
        if word not in stopwords:
            sentence1Words[word]=1
    for word in sentence2.lower().split():
        if word not in stopwords:
            sentence2Words[word]=1
    if len(sentence1Words)==0 or len(sentence2Words)==0:
        return 0
    common_words_sentence1=[]
    common_words_sentence2=[]
    for word in sentence1Words:
        if word in sentence2Words:
            common_words_sentence1.append(word)
    for word in sentence2Words:
        if word in sentence1Words:
            common_words_sentence1.append(word)
    score=(len(common_words_sentence1)+len(common_words_sentence2))/(len(sentence1Words)+len(sentence2Words))
    return score

In [58]:
word_match_score(lala[0],lala[1],stops)

0.5

In [59]:
stops=set(stopwords.words("english"))
stops=set(ENGLISH_STOP_WORDS)
def word_match(s1,s2):
    q1Words={}
    q2Words={}
    for word in str(s1).lower().split():
        if word not in stops:
            q1Words[word]=1
    for word in str(s2).lower().split():
        if word not in stops:
            q2Words[word]=1
    if len(q1Words)==0 or len(q2Words)==0:
        return 0
    shared_words_in_q1=[w for w in q1Words.keys() if w in q2Words]
    shared_words_in_q2=[w for w in q2Words.keys() if w in q1Words]
    R=(len(shared_words_in_q1)+len(shared_words_in_q2))/(len(q1Words)+len(q2Words))
    return R
word_match(lala[0],lala[1])

0.5

In [83]:
from collections import Counter

# If a word appears only once, we ignore it completely (likely a typo)
# Epsilon defines a smoothing constant, which makes the effect of extremely rare words smaller
def get_weight(count, eps=0, min_count=2):
    if count < min_count:
        return 0
    else:
        return 1 / (count + eps)

eps = 0
words = (" ".join(lala)).lower().split()
counts = Counter(words)
weights = {word: get_weight(count) for word, count in counts.items()}

In [84]:
weights

{'a': 0,
 'an': 0,
 'conclusive': 0,
 'inconclusive': 0,
 'is': 0.5,
 'test': 0.5,
 'that': 0,
 'this': 0}

In [85]:
def tfidf_word_match_share(q1,q2):
    q1words = {}
    q2words = {}
    for word in q1.lower().split():
        if word not in stops:
            q1words[word] = 1
    for word in q2.lower().split():
        if word not in stops:
            q2words[word] = 1
    if len(q1words) == 0 or len(q2words) == 0:
        # The computer-generated chaff includes a few questions that are nothing but stopwords
        return 0
    
    shared_weights = [weights.get(w, 0) for w in q1words.keys() if w in q2words] + [weights.get(w, 0) for w in q2words.keys() if w in q1words]
    total_weights = [weights.get(w, 0) for w in q1words] + [weights.get(w, 0) for w in q2words]
    
    R = np.sum(shared_weights) / np.sum(total_weights)
    return R

In [86]:
import numpy as np
lala=["This is an inconclusive test","That is a conclusive test"]
tfidf_word_match_share(lala[0],lala[1])

1.0

In [87]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf=TfidfVectorizer(ngram_range=(1,1),stop_words=ENGLISH_STOP_WORDS)

In [88]:
all_qs=pd.Series(lala)
tfidf.fit(all_qs)
print(tfidf.transform([lala[0]]).toarray())
print(tfidf.transform([lala[1]]).toarray())

[[0.         0.81480247 0.57973867]]
[[0.81480247 0.         0.57973867]]

In [89]:
def tfidf_match(question1,question2,tfidfObject):
    vector1=tfidfObject.transform(question1).toarray()
    vector2=tfidfObject.transform(question2).toarray()
    product=vector1*vector2
    score=(2*np.sum(vector1*vector2))/(np.sum(vector1)+np.sum(vector2))
    return score

In [90]:
print(tfidf_match([lala[0]],[lala[1]],tfidf))

0.24100897143904737

In [92]:
vars.test.isnull().any()

test_id      False
question1     True
question2     True
dtype: bool

In [95]:

test=vars.test[vars.test.isnull().any(axis=1)]
test

Empty DataFrame
Columns: [test_id, question1, question2]
Index: []

,test_id,question1,question2
379205,379205,How I can learn android app development?,NaN
817520,817520,How real can learn android app development?,NaN
943911,943911,How app development?,NaN
1046690,1046690,NaN,How I what can learn android app development?
1270024,1270024,How I can learn app development?,NaN
1461432,1461432,NaN,How distinct can learn android app development?